* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}

body {
  font-family: 'montseratt', sans-serif;
  overflow: hidden;
}

/*==================== Site Background ====================*/

.app {
  background-color: darkgreen;
  transition: 0.5s ease-out;
}

.app.warm {
  background-color: rgb(184, 80, 11);
}

.app.cold {
  background-color: blue;
}

.app.cool {
  background-color: cadetblue;
}

.app.hot {
  background-color: crimson;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

/*==================== Search Bar ====================*/

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0pc 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

/*==================== Location ====================*/

.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

/*==================== Weather ====================*/

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 20px;
  background-color:rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;

  color: #FFF;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;

  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

/*==================== Rainy Weather ====================*/

.weather-box .rain-sym {
  position: relative;
  display: inline-block;
  top: 100px;
  width: 320px;
  height: 100px;
  background-color: #D3D3D3;
  border-radius: 100px;
  z-index: 1;
}

.weather-box .rain-sym::before {
  content: '';
  position: absolute;
  top: -50%;
  left: 40px;
  width: 110px;
  height: 110px;
  background: #D3D3D3;
  border-radius: 50%;
  box-shadow: 90px 0 0 30px #D3D3D3;
}

.weather-box .rain-drop {
  position: relative;
}

.weather-box .rain-drop .rain-item {
  position: relative;
  display: inline-flex;
  width: 10px;
  height: 10px;
  background: rgb(0, 110, 255);
  background: #D3D3D3;
  margin: 0 2px;
  bottom: -30px;
  border-radius: 50%;
  animation: drop 5s linear infinite;
  transform-origin: bottom;
}
@for $i from 1 through 20 {
  .weather-box .rain-drop .rain-item:nth-child(#{$i}) {
    animation-duration: #{random(100) / 20}s;
  }
}

@keyframes drop {
  0% {
    transform: translateY(0) scale(1);
  }
  70% {
    transform: translateY(320px) scale(1);
  }
  80% {
    background: rgb(0, 110, 255);
  }
  100% {
    transform: translateY(320px) scale(0);
  }
}

.weather-box .rain-dropbg .rain-itembg {
  --size: 0.5vw;
  width: var(--size);
  height: var(--size);
  background: rgb(0, 110, 255);
  border-radius: 50%;
  position: fixed;
  top: -5vh;
  z-index: 0;
}

@for $i from 1 through 50 {
  .weather-box .rain-dropbg .rain-itembg:nth-child(#{$i}) {
    --size: #{random(5) * 0.09}vw;
    left: #{random(100)}vw;
    animation: rainfall #{5 + random(10) / 100}s linear infinite;
    animation-delay: -#{random(10)}s;
    animation-duration: #{random(100) / 50}s;
  }
}

@keyframes rainfall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(110vh);
  }
}

/*==================== Snowy Weather ====================*/

.weather-box .snow-drop .snow-item {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
}

@for $i from 1 through 50 {
  .weather-box .snow-drop .snow-item:nth-child(#{$i}) {
    --size: #{random(5) * 0.2}vw;
    --left-ini: #{random(20) - 10}vw;
    --left-end: #{random(20) - 10}vw;
    left: #{random(100)}vw;
    animation: snowfall #{5 + random(10)}s linear infinite;
    animation-delay: -#{random(10)}s;
  }
}

.snow-item:nth-child(6n) {
  filter: blur(1px);
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}

/*==================== Clear / Sunny Weather ====================*/
.weather-box .sun {
  display: inline-block;
  margin-top: 90px;
  width: 200px;
  height: 200px;
  background-color: #FFDE00;
  border-radius: 50%;
  box-shadow: 0 0 0 20px #ffde0080, 
              0 0 0 40px #ffde0040, 
              0 0 0 60px #ffde0020, 
              0 0 0 80px #ffde0010, 
              0 0 0 100px #ffde0000, 
              0 0 40px 100px #ffde0010;
  animation: sunrise 2s infinite linear forwards, sunrays 2s 2s infinite linear;
}

@keyframes sunrise {
  0% {
    box-shadow: none;
  }
}

@keyframes sunrays {
  0% {
    box-shadow: 0 0 0 0px #ffde0080, 
                0 0 0 20px #ffde0080, 
                0 0 0 40px #ffde0040, 
                0 0 0 60px #ffde0020, 
                0 0 0 80px #ffde0010, 
                0 0 40px 100px #ffde0010;;
  }
  100% {
    box-shadow: 0 0 0 20px #ffde0080, 
                0 0 0 40px #ffde0040, 
                0 0 0 60px #ffde0020, 
                0 0 0 80px #ffde0010, 
                0 0 0 100px #ffde0000, 
                0 0 40px 100px #ffde0010;
  }
}

/*==================== Cloudy Weather ====================*/
.weather-box .cloud-sym {
  display: inline-block;
  position: relative;
  margin-top: 120px;
  width: 300px;
  height: 100px;
  border-radius: 50px;
  background: #D3D3D3;
  animation: cloudymove 8s linear infinite;
  z-index: 2;
}

.weather-box .cloud-sym::before {
  content: '';
  position: absolute;
  top: -50%;
  left: 40px;
  width: 110px;
  height: 110px;
  background: #D3D3D3;
  border-radius: 50%;
  box-shadow: 90px 0 0 30px #D3D3D3;
}

.weather-box .sun-cloud {
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 450px;
  left: 850px;
  width: 100px;
  height: 100px;
  background: #ffe208;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(255, 255, 8, .5);
  z-index: 1;
  animation: sunrotate 20s linear infinite;
}

.weather-box .sun-cloud li {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 3px;
  background: #ffe208;
  box-shadow: 0 0 15px rgba(255, 255, 8, .5);
  border-radius: 50%;
  z-index: 0;
}

@for $i from 1 through 8 {
  .weather-box .sun-cloud li:nth-child(#{$i}) {
    transform: translate(-50%, -50%) rotate(#{$i * 22.5}deg);
  }
}

@keyframes cloudymove {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(50px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes sunrotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}