* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}

body {
  font-family: 'montseratt', sans-serif;
  overflow: hidden;
}

/*==================== Site Background ====================*/

.app {
  background-color: darkgreen;
  transition: 0.5s ease-out;
}

.app.warm {
  background-color: rgb(184, 80, 11);
}

.app.cold {
  background-color: blue;
}

.app.cool {
  background-color: cadetblue;
}

.app.hot {
  background-color: crimson;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

/*==================== Search Bar ====================*/

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0pc 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

/*==================== Location ====================*/

.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

/*==================== Weather ====================*/

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 20px;
  background-color:rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;

  color: #FFF;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;

  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

/*==================== Rainy Weather ====================*/

.weather-box .rain-sym {
  position: relative;
  display: inline-block;
  top: 100px;
  width: 320px;
  height: 100px;
  background-color: #D3D3D3;
  border-radius: 100px;
  z-index: 1;
}

.weather-box .rain-sym::before {
  content: '';
  position: absolute;
  top: -50%;
  left: 40px;
  width: 110px;
  height: 110px;
  background: #D3D3D3;
  border-radius: 50%;
  box-shadow: 90px 0 0 30px #D3D3D3;
}

.weather-box .rain-drop {
  position: relative;
}

.weather-box .rain-drop .rain-item {
  position: relative;
  display: inline-flex;
  width: 10px;
  height: 10px;
  background: rgb(0, 110, 255);
  background: #D3D3D3;
  margin: 0 2px;
  bottom: -30px;
  border-radius: 50%;
  animation: drop 5s linear infinite;
  transform-origin: bottom;
}
@for $i from 1 through 20 {
  .weather-box .rain-drop .rain-item:nth-child(#{$i}) {
    animation-duration: #{random(100) / 20}s;
  }
}

@keyframes drop {
  0% {
    transform: translateY(0) scale(1);
  }
  70% {
    transform: translateY(320px) scale(1);
  }
  80% {
    background: rgb(0, 110, 255);
  }
  100% {
    transform: translateY(320px) scale(0);
  }
}

.weather-box .rain-dropbg .rain-itembg {
  --size: 0.5vw;
  width: var(--size);
  height: var(--size);
  background: rgb(0, 110, 255);
  border-radius: 50%;
  position: fixed;
  top: -5vh;
  z-index: 0;
}

@for $i from 1 through 50 {
  .weather-box .rain-dropbg .rain-itembg:nth-child(#{$i}) {
    --size: #{random(5) * 0.09}vw;
    left: #{random(100)}vw;
    animation: rainfall #{5 + random(10) / 100}s linear infinite;
    animation-delay: -#{random(10)}s;
    animation-duration: #{random(100) / 50}s;
  }
}

@keyframes rainfall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(110vh);
  }
}

/*==================== Snowy Weather ====================*/

.weather-box .snow-drop .snow-item {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
}

@for $i from 1 through 50 {
  .weather-box .snow-drop .snow-item:nth-child(#{$i}) {
    --size: #{random(5) * 0.2}vw;
    --left-ini: #{random(20) - 10}vw;
    --left-end: #{random(20) - 10}vw;
    left: #{random(100)}vw;
    animation: snowfall #{5 + random(10)}s linear infinite;
    animation-delay: -#{random(10)}s;
  }
}

.snow-item:nth-child(6n) {
  filter: blur(1px);
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}

/*==================== Misty Weather ====================*/
.weather-box .mist-container {
  position: absolute;
  top: 6vh;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.weather-box .mist-container .mist-img {
  position: absolute;
  height: 100vh;
  width: 300vw;
  z-index: 2;
}

.weather-box .mist-container .mist-img-pic {
  background: url(../src/img/fog-1.png);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: misty 60s linear infinite;
}

@keyframes misty {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}

/*==================== Smoky Weather ====================*/
.weather-box .smoke-container ul {
  position: relative;
  bottom: -290px;
  left: 99%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
}

.weather-box .smoke-container li {
  position: relative;
  list-style: none;
  width: 80px;
  height: 80px;
  background: #262626;
  border-radius: 50%;
}

.weather-box .smoke-container li:nth-child(even) {
  animation: animateEven 2.8s linear infinite;
}

.weather-box .smoke-container li:nth-child(odd) {
  animation: animateOdd 2.8s linear infinite;
}

@keyframes animateEven {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    filter: blur(5px);
  }
  100% {
    transform: translate(100px, -500px) scale(3);
    opacity: 0;
    filter: blur(10px);
  }
}

@keyframes animateOdd {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    filter: blur(5px);
  }
  100% {
    transform: translate(-100px, -500px) scale(3);
    opacity: 0;
    filter: blur(10px);
  }
}

@for $i from 1 through 10 {
  .weather-box .smoke-container li:nth-child(#{$i}) {
    animation-delay: #{($i * 0.6) - 0.6}s;
  }
}

.weather-box .smoke-container li:nth-child(9) {
  animation: none;
  filter: blur(15px);
}

/*==================== Foggy Weather ====================*/
.weather-box .fog-container {
  position: absolute;
  top: 6vh;
  width: 100%;
  height: 100%;
}

.weather-box .fog-container .fog-img {
  position: absolute;
  height: 100vh;
  width: 300vw;
  z-index: 2;
}

.weather-box .fog-container .fog-img-first {
  background: url(../src/img/fog-1.png);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: misty 60s linear infinite;
}

.weather-box .fog-container .fog-img-second {
  background: url(../src/img/fog-1.png);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: misty 30s linear infinite;
}

/*==================== Sandy / Dusty Weather ====================*/
.weather-box .sand-container .sand-item {
  --size: 0.5vw;
  width: var(--size);
  height: var(--size);
  background: rgb(116, 94, 0);
  border-radius: 50%;
  position: fixed;
  left: -5vw;
  z-index: 0;
}

@for $i from 1 through 50 {
  .weather-box .sand-container .sand-item:nth-child(#{$i}) {
    --size: #{random(5) * 0.05}vw;
    top: #{random(100)}vh;
    animation: sandstorm #{5 + random(10) / 100}s linear infinite;
    animation-delay: -#{random(10)}s;
    animation-duration: #{random(100) / 50}s;
  }
}

@keyframes sandstorm {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(110vw);
  }
}

.weather-box .sand-container .tumbleweed {
    position: relative;
    bottom: 500px;
    left: -5rem;
    background: url(https://img.icons8.com/ios/1600/tumbleweed.png) no-repeat center;
    background-size: cover;
    width: 5rem;
    height: 5rem;
    animation: jumping 1.5s infinite, rolling 5s linear infinite, rotating 2s linear infinite;
    z-index: 0;
}

.weather-box .sand-container .tumbleweed:nth-child(2) {
  animation-delay: 2.5s;
}
.weather-box .sand-container .tumbleweed:nth-child(3) {
  animation-delay: 4s;
}

@keyframes jumping {
  0% {
      top: 0rem;
      animation-timing-function: ease-in;
  }
  25% {
      top: 3rem;
      animation-timing-function: ease-out;
  }
  50% {
      top: 1rem;
      animation-timing-function: ease-in;
  }
  75% {
      top: 3rem;
      animation-timing-function: ease-out;
  }
  100% {
      top: 0rem;
      animation-timing-function: ease-in;
  }
}

@keyframes rolling {
  0% {
      left: -5rem;
  }
  100% {
      left: 100%;
  }
}

@keyframes rotating {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/*==================== Volcanic Ash Weather ====================*/
.weather-box .ash-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.weather-box .ash-container .ash-bubbles {
  position: relative;
  display: flex;
}

.weather-box .ash-container .ash-bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #bd0808;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #bd080844, 0 0 50px #bd0808, 0 0 100px #bd0808;
  animation: ashfall 15s linear infinite;
}

.weather-box .ash-container .ash-bubbles span:nth-child(even) {
  background: #ac4103;
  box-shadow: 0 0 0 10px #ac410344, 0 0 50px #ac4103, 0 0 100px #ac4103;
}

@for $i from 1 through 40 {
  .weather-box .ash-container .ash-bubbles span:nth-child(#{$i}) {
    animation-duration: #{12500 / random(1000)}s;
  }
}

@keyframes ashfall {
  0% {
    transform: translateY(-100vh) scale(0);
  }
  100% {
    transform: translateY(100vh) scale(1);
  }
}

/*==================== Tornado Weather ====================*/
.weather-box .tornado-container {
  transform: rotateX(75deg);
  width: 200px;
  height: 200px;
  display: inline-block;
}

.weather-box .tornado-container .circle {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 200px;
  box-shadow: 1px 25px 0px 0px black inset, 5px 10px 0px 50px white inset;
  animation: spin .4s linear infinite;
  z-index: 1;
  left: -75px;
  background: rgba(0,0,0,0.5);
}

.weather-box .tornado-container .circle-two {
  position: absolute;
  z-index: -10;
  top: 140px;
  width: 350px;
  height: 350px;
  left: -75px;
  border-radius: 165px;
  background: rgba(0,0,0,0.3);
  box-shadow: 2px 10px 0px 0px dimgrey inset, 4px 1px 0px 50px white inset;
  animation: spin .2s infinite linear;
}

.weather-box .tornado-container .circle-three {
  position: absolute;
  z-index: -20;
  top: 240px;
  left: -55px;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  box-shadow: 1px 10px 0px 0px black inset, 4px 1px 0px 50px white inset;
  animation: spin .4s infinite linear;
  background: rgba(0,0,0,0.5);
}

.weather-box .tornado-container .circle-four {
  position: absolute;
  z-index: -30;
  top: 400px;
  left: -15px;
  width: 230px;
  height: 230px;
  border-radius: 115px;
  box-shadow: 5px 0px 0px 0px black inset, 4px 1px 0px 50px white inset;
  animation: spin .2s infinite linear;
  background: rgba(220,220,220,0.5);
}

.weather-box .tornado-container .circle-five {
  position: absolute;
  z-index: -40;
  top: 490px;
  left: 5px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  box-shadow: 5px 0px 0px 1px gray inset, 4px 1px 0px 50px gainsboro inset;
  animation: spin .3s infinite linear;
  background: rgba(105,105,105,0.9);
}

.weather-box .tornado-container .circle-six {
  position: absolute;
  z-index: -50;
  top: 590px;
  left: 5px;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  box-shadow: 1px 16px 0px 0px black inset, 5px 10px 0px 50px white inset;
  animation: spin .3s infinite linear;
  background: rgba(0,0,0,0.5);
}

.weather-box .tornado-container .circle-seven {
  position: absolute;
  z-index: -60;
  top: 670px;
  left: 5px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 1px 5px 0px 10px dimgrey inset, 3px 1px 0px 10px white inset;
  animation: spin .3s infinite linear;
  background: rgba(200,200,200,1);
}

.weather-box .tornado-container .circle-eight {
  position: absolute;
  z-index: -70;
  top: 720px;
  left: 5px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  box-shadow: 2px 10px 0px 0px black inset, 4px 1px 0px 50px white inset;
  animation: spin .3s infinite linear;
  background: rgba(0,0,0,0.5);
}

.weather-box .tornado-container .circle-nine {
  position: absolute;
  z-index: -80;
  top: 780px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 1px 10px 0px 0px #708090 inset, 4px 1px 0px 50px white inset;
  animation: spin .4s infinite linear;
  background: rgba(0,0,0,0.5);
}

.weather-box .tornado-container .circle-ten {
  position: absolute;
  z-index: -90;
  top: 820px;
  left: 25px;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  box-shadow: 1px 10px 0px 0px #2F4F4F inset, 4px 1px 0px 50px white inset;
  animation: spin .4s infinite linear;
  background: rgba(0,0,0,0.5);
}

.weather-box .tornado-container .circle-eleven {
  position: absolute;
  z-index: -100;
  top: 840px;
  left: 35px;
  width: 15px;
  height: 15px;
  border-radius: 8px;
  box-shadow: 1px 10px 0px 0px black inset, 4px 1px 0px 50px white inset;
  animation: spin .2s infinite linear;
  background: rgba(0,0,0,0.5);
}



@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  };
}

@keyframes spinoff {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(-360deg);
  };
}

/*==================== Squall Weather ====================*/
.weather-box .squall-container .squall-item {
  width: 0.5px;
  height: 70px;
  background: #FFF;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  rotate: 90deg;
  position: fixed;
  left: -5vw;
  z-index: 0;
}

@for $i from 1 through 50 {
  .weather-box .squall-container .squall-item:nth-child(#{$i}) {
    top: #{random(100)}vh;
    animation: windstorm #{5 + random(10) / 100}s linear infinite;
    animation-delay: -#{random(10)}s;
    animation-duration: #{random(100) / 50}s;
  }
}

@keyframes windstorm {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-110vw);
  }
}

/*==================== Clear / Sunny Weather ====================*/
.weather-box .sun {
  display: inline-block;
  margin-top: 90px;
  width: 200px;
  height: 200px;
  background-color: #FFDE00;
  border-radius: 50%;
  box-shadow: 0 0 0 20px #ffde0080, 
              0 0 0 40px #ffde0040, 
              0 0 0 60px #ffde0020, 
              0 0 0 80px #ffde0010, 
              0 0 0 100px #ffde0000, 
              0 0 40px 100px #ffde0010;
  animation: sunrise 2s infinite linear forwards, sunrays 2s 2s infinite linear;
}

@keyframes sunrise {
  0% {
    box-shadow: none;
  }
}

@keyframes sunrays {
  0% {
    box-shadow: 0 0 0 0px #ffde0080, 
                0 0 0 20px #ffde0080, 
                0 0 0 40px #ffde0040, 
                0 0 0 60px #ffde0020, 
                0 0 0 80px #ffde0010, 
                0 0 40px 100px #ffde0010;;
  }
  100% {
    box-shadow: 0 0 0 20px #ffde0080, 
                0 0 0 40px #ffde0040, 
                0 0 0 60px #ffde0020, 
                0 0 0 80px #ffde0010, 
                0 0 0 100px #ffde0000, 
                0 0 40px 100px #ffde0010;
  }
}

/*==================== Cloudy Weather ====================*/
.weather-box .cloud-sym {
  display: inline-block;
  position: relative;
  margin-top: 120px;
  width: 300px;
  height: 100px;
  left: 50px;
  top: 60px;
  border-radius: 50px;
  background: #D3D3D3;
  animation: cloudymove 8s linear infinite;
  z-index: 2;
}

.weather-box .cloud-sym::before {
  content: '';
  position: absolute;
  top: -50%;
  left: 40px;
  width: 110px;
  height: 110px;
  background: #D3D3D3;
  border-radius: 50%;
  box-shadow: 90px 0 0 30px #D3D3D3;
}

.weather-box .sun-cloud {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  top: -35px;
  right: 210px;
  width: 100px;
  height: 100px;
  background: #ffe208;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(255, 255, 8, .5);
  z-index: 1;
  animation: sunrotate 20s linear infinite;
}

.weather-box .sun-cloud li {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 3px;
  background: #ffe208;
  box-shadow: 0 0 15px rgba(255, 255, 8, .5);
  border-radius: 50%;
  z-index: 0;
}

@for $i from 1 through 8 {
  .weather-box .sun-cloud li:nth-child(#{$i}) {
    transform: translate(-50%, -50%) rotate(#{$i * 22.5}deg);
  }
}

@keyframes cloudymove {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(50px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes sunrotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*==================== Footer ====================*/
/*
.footer {
  text-align: center;
  margin-top: 130px;
  color: #fff;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}
*/